.fruits {
    display: flex;
    justify-content: space-between;
  }
  
  .fruits img {
    max-width: 100%;
    height: auto;
  }
  
  .fruit-text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .fruit-text p {
    margin: 0;
  }
  